<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новая анкета</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Demo APP</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/application/all">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/all">Пользователи</a>
                </li>
            </ul>
            <div class="form-inline mt-2 mt-md-0"
                 sec:authorize="isAnonymous()">
                <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
            </div>
            <div class="form-inline mt-2 mt-md-0"
                 sec:authorize="isAuthenticated()">
                <span class="text-white" sec:authentication="name">User</span> &nbsp;
                <form method="post" th:action="@{/logout}">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </nav>

    <div class="col-12">
        <div class="row">
            <div class="col-md-8">
                <h4 class="mb-3" th:text="${zayavka.title}"></h4>
                <h6 class="text-muted">
                    <span th:text="${zayavka.authorName}">&nbsp;</span>
                    <span th:text="${#dates.format(zayavka.createdDate, 'dd.MM.yyyy HH:mm')}"></span>
                </h6>
                <hr/>
                <br/>
                <h4 class="text-justify" th:text="${zayavka.description}"></h4>
            </div>
            <div class="col-md-4" th:if="${owner}">
                <a class="btn btn-warning btn-block" th:href="${'/application/' + zayavka.id + '/edit'}">Изменить</a>
                <a class="btn btn-danger btn-block" th:href="${'/application/' + zayavka.id + '/delete'}">Удалить</a>
            </div>
        </div>
    </div>
    <hr/>
    <br/>
    <div class="col-md-6 col-sm-12">
        <form th:action="@{/application/add-comment}" th:method="post">
            <input name="application" th:value="${zayavka.id}" type="hidden"/>
            <div class="mb-3">
                <label for="comment">Комментария</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Добавить</button>
        </form>
    </div>

    <hr/>
    <br/>

    <div class="col-12">
        <h4>Все комментарий</h4>
        <div style="border-bottom: green; border-bottom-style: dotted;" th:each="comment : ${comments}">
            <p>
                <span class="text-warning" th:text="${comment.authorName}"></span>&nbsp;
                <span class="h6" th:text="'('+ ${#dates.format(comment.createdDate, 'dd.MM.yyyy HH:mm')} +')'"></span>
            </p>
            <p th:text="${comment.comment}"></p>
        </div>
    </div>

</div>
</body>
</html>