<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Заполнение анкеты</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">Demo APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/application/all">Заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/all">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/swagger-ui.html">Swagger-UI</a>
                    </li>
                </ul>
                <div sec:authorize="isAnonymous()"
                     class="form-inline mt-2 mt-md-0" >
                    <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
                </div>
                <div sec:authorize="isAuthenticated()"
                     class="form-inline mt-2 mt-md-0" >
                    <span class="text-white" sec:authentication="name">User</span> &nbsp;
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <h4>Ходимлар резюмисини яратиш мини дастури.</h4>

            <ul style="list-style-type: lower-latin">
                <li>Бунда логин паже булиши керак (статик логин парол билан)</li>
                <li>
                    Ходимлар руйхати таблицада бўлиши лозим бўлган устунлар: <br/>
                    <ul style="list-style-type: lower-roman">
                        <li>№</li>
                        <li>Ф.И.Ш.</li>
                        <li>Тўғилган сана</li>
                        <li>Миллати</li>
                        <li>Маълумоти(Бунда ўқиш жойлари ва тамомлаган йили, ўқиш маълумоти(олий, ўрта маҳсус))</li>
                        <li>Телефон</li>
                        <li>Почта манзили</li>
                    </ul>
                </li>
                <li>
                    Ходимлар қўшиш ойнаси бунда бўлшиши лозим бўлган маълумотлар:
                    <ul style="list-style-type: lower-roman">
                        <li>№ (автомат)</li>
                        <li>Ф.И.Ш.  (узунлиги 250)</li>
                        <li>Тўғилган сана (дд.мм.йййй)</li>
                        <li>Миллати (100)</li>
                        <li>Маълумоти(бир нечта бўлса алохида қўиш имконияти бўлсин)</li>
                        <li>Телефон (формат берилсин ва сон бўлсин)</li>
                        <li>Почта манзили (валидация бўлсин)</li>
                        <li>Ишлаган жойлари бўлсин бунда хам бир нечта киртитиш имкони бўлсин.</li>
                    </ul>
                </li>
                <li>Ходимни руйхатдан танлаб ўзгартириш ва ўчириш(confirm бўлсин) имкони бўлсин.(CRUD бўлсин).</li>
                <li>Битта ходимни резюмисини pdf га чиқариш имкони бўлсин. </li>
            </ul>
        </div>
    </div>
</body>
</html>